#abc{
    text-align: justify;
    line-height: 150px;
    
}
.bdc{
    text-decoration: line-through;
    
}

#dedem{
    text-transform: lowercase;
    text-align: center;
    
}
#babam{
    background-color: red;
    font-size: x-large;
    text-shadow: 150px;

}