

h1{
    color: aquamarine;
}

.morrenkolacak{
    color: chartreuse;
}

#IdSelektor{
    color: darkorange;
}

a{
   background-color: blueviolet;
    display: block;
}
h2{
    display: inline;
}

#yazitipidonusumu{
    font-size: small;
    font-family: cursive;
    font-weight: bold;
    font-style: italic;
    /*color: #83BFCA;*/
    color: rgb(131, 191, 202);
    text-transform: lowercase;
    text-decoration: underline;
    text-align: center;
    line-height: 50px;
    text-indent: 50px;
}

body{
    background-image: url(unilogo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
ul{
    list-style-type: lower-alpha;
    list-style-position: outside;
}

ol{
    list-style-type: disc;
}